<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Vue To Do</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/main.css" rel="stylesheet" type="text/css" media="screen">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@2.3.4"></script>

</head>

<body>
	<main id="app" class="container">
		<p>Star Wars</p>
		<input type="text" v-model="question">	

		{{response}}

		<ul>
			<li v-for="character in characters">
				<a>{{character.name}}</a>
			</li>
		</ul>
	</main>
	
<script src="js/app.js"></script>	
</body>
</html>
